.agreement-checkbox {
  @include centered__flex;
  justify-content: left;
  cursor: pointer;
}

.agreement-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /*   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

.agreement-checkbox__icon {
  display: inline-block;
  min-width: 16px;
  width: 16px;
  height: 15px;

  /*   background-image: url("../images/check.svg"); */
  border: 2px solid $title-text-color;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color $trans-time $cubic-const;
  .agreement-checkbox__input:checked + & {
    border: 0;
    border-color: transparent;
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
  }
}

.agreement-checkbox__text {
  font-size: 12px;
  line-height: 1.14;
  user-select: none;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }
}
.agreement-checkbox__link {
  font-size: 12px;
  line-height: 1.14;
  color: $accent-color;
  text-decoration: underline;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }
}
