.contact {
  @include centered__flex;
}
.contact__item {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  color: $primary-text-color;
  line-height: normal;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contact__icon {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }

  fill: $primary-text-color;
  transition: fill $trans-time $cubic-const;
  .contact__item:hover &,
  .contact__item:focus & {
    fill: $accent-color;
  }
}
