.mob-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 1;
  background-color: #ffffff;
  overflow: auto;
  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.mob-menu__container {
  /*   position: relative; */
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 48px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  /* transform: translate(-50%, -50%); */
  /*   display: flex;
  align-items: center;
  justify-content: center; */

  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    cursor: pointer;
  }
  width: 40px;
  height: 40px;
  @include centered__flex;
  background-color: $primary-white-color;
  border: 0;
}
.mob-menu__close-icon {
  transition: fill $trans-time $cubic-const;
  .mob-menu__btn-close:focus &,
  .mob-menu__btn-close:hover & {
    fill: $accent-color;
  }
}
.mob-menu-nav {
  margin-bottom: -32px;
}
.mob-menu-nav__item {
  margin-bottom: 32px;
}
.mob-menu-nav__link {
  color: $title-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  &--current-page {
    color: $accent-color;
  }
}
.mob-menu__bottom {
  display: flex;
  flex-direction: column;
  // justify-content: space-between; */
}
.mob-menu-contact__column {
  margin-bottom: 64px;
}
.mob-menu-contact {
  margin-bottom: -32px;
}
.mob-menu-contact__item {
  margin-bottom: 32px;
}
.mob-menu-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: inherit;
  &--big {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
    @media screen and (max-width: 350px) {
      font-size: 24px;
    }
  }
  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.mob-menu-social {
  display: flex;
  // align-items: center;
  // /*  justify-content: left; */
  flex-wrap: wrap;
  /*  margin-left: -20px; */
  margin-bottom: -12px;
}
.mob-menu-social__item {
  // margin-left: 20px;
  margin-bottom: 12px;
  &:not(:last-child) {
    margin-right: 10px;
    display: flex;
    @media screen and (min-width: 420px) {
      &::after {
        content: "";
        height: 100%;
        width: 1px;
        background-color: rgba(33, 33, 33, 0.2);
        display: block;
        margin-left: 10px;
      }
    }
  }
  /* flex-basis: calc((100% / 4) - 32px); */
}
.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: $accent-color;
}
