.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  color: $title-text-color;
  font-weight: 700;
  /* margin: 0 auto 50px; */
  /* font-size: 36px; */
  margin-bottom: 30px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.section--no-btm-padding {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.section--bg-color--gray {
  background-color: $filter-bg-color;
}
.section--hidden {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
